@media only screen and (max-width: 991px) {
  .auth-large {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .auth-small {
    display: none;
  }
}

// override Bootstrap nav
nav {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
}

.nav-link {
  cursor: pointer;
}

#logo-img {
  width: 60px;
}

li>a {
  position: relative;
  overflow: hidden;
}

.user-image {
  border-radius: 50%;
  border: white 2px solid;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.dropdown {
  position: relative;

  .dropdown-menu-img {
    right: 0;
    left: auto;
  }

  .dropdown-item {
    cursor: pointer;
  }
}

