//.page-wrapper {
//  background-image: url('/assets/background/snow.jpg');
//  background-position-y: center;
//  background-attachment: fixed;
//  background-size: cover;
//  background-repeat: no-repeat;
//}

.page-wrapper {
  background: linear-gradient(to bottom, #007BFF, #00BFFF) fixed;
}

.container {
  min-height: 93.8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}


.header-wrapper {
  position: fixed;
  width: 100%;
}

.content-wrapper {
  position: relative;
  margin-top: 60px;
  margin-bottom: 10px;
}

.footer-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
