<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="./assets/img/logo-white.png" alt="Media App" id="logo-img"></a>
    <a routerLink="/public/home" class="btn btn-outline-success me-2 auth-small">Go back</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <a routerLink="/public/home" class="btn btn-outline-success me-2 auth-large">Go home</a>
    </div>
  </div>
</nav>
