.page-wrapper {
  background: linear-gradient(to bottom, #f8f8f8, #e8e8e8) fixed;
  color: #fff;
}

.container {
  min-height: 93.8vh;
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  position: fixed;
  width: 100%;
}

.content-wrapper {
  position: relative;
  margin-top: 70px;
}

.footer-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
