@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

//reset
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

//override bootstrap
.btn-outline-success {
  color: white !important;
  border: white 1px solid !important;

  &:hover {
    color: white !important;
    background-color: #333 !important;
  }
}

.btn-success {
  color: black !important;
  background-color: white !important;
  border: #333 1.5px solid !important;
  border-radius: 0 !important;


  &:hover {
    color: whitesmoke !important;
    background-color: forestgreen !important;
    border: #333 1.5px solid !important;
    border-radius: 0 !important;
  }

  &:disabled {
    border: gray 1px solid !important;
  }
}

.btn-danger {
  color: black !important;
  background-color: white !important;
  border: #333 1.5px solid !important;
  margin-bottom: 10px;
  border-radius: 0 !important;


  &:hover {
    color: whitesmoke !important;
    background-color: #dc3545 !important;
    border: #333 1.5px solid !important;
    border-radius: 0 !important;
  }

  &:disabled {
    border: gray 1px solid !important;
  }
}
