@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

//reset
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

//app generic buttons

.bottom-btn {
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.bottom-btn:hover {
  background-color: #0056b3;
}

.bottom-btn input {
  display: none;
}

.close-btn {
  padding: 6px 12px;
  cursor: pointer;
  color: #fff;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.close-btn:hover {
  background-color: darkred;
}

.close-btn input {
  display: none;
}


//override bootstrap
.btn-outline-success {
  color: white !important;
  border: white 1px solid !important;

  &:hover {
    color: white !important;
    background-color: #333 !important;
  }
}

.btn-success {
  min-width: 150px !important;
  color: white !important;
  background-color: forestgreen !important;
  border: #333 1.5px solid !important;
  border-radius: 4px !important;


  &:hover {
    color: whitesmoke !important;
    background-color: darkgreen !important;
    border: #333 1.5px solid !important;
  }

  &:disabled {
    border: gray 1px solid !important;
  }
}

.btn-danger {
  min-width: 150px !important;
  color: white !important;
  background-color: #dc3545 !important;
  border: #333 1.5px solid !important;
  border-radius: 4px !important;


  &:hover {
    color: whitesmoke !important;
    background-color: darkred !important;
    border: #333 1.5px solid !important;
  }

  &:disabled {
    border: gray 1px solid !important;
  }
}
