.add-person-form {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;

  .picture-card {
    max-height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    label:first-child {
      display: none;
    }

    .card {
      width: 18rem;

      .card-img-top {
        max-height: 302px;
      }
    }
  }
}

.open {
  max-height: 600px;
}

.closed {
  max-height: 0;
}

.card-img-top {
  height: 100%;
  width: auto;
}


@media only screen and (max-width: 991px) {
  .add-person-form {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    .picture-card {
      margin-bottom: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      label:first-child {
        display: flex;
      }

      .card {
        margin: 0 auto;
        max-width: 8rem;
        max-height: 8rem;
      }
    }
  }
}
