<form [formGroup]="personForm">
  <div class="add-person-form row" [ngClass]="isAddModeOn ? 'open': 'closed'">
    <div class="col">
      <div class="form-group">
        <label for="name">Friend's Name</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="John Doe">
      </div>
      <div class="form-group">
        <label for="pseudoName">Who's this person?</label>
        <input type="text" class="form-control" id="pseudoName" formControlName="pseudoName"
               placeholder="Wife/Dad/Friend">
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input type="date" class="form-control" id="birthday" formControlName="birthday"
               min="1910-01-01" max="2024-01-01" [(ngModel)]="defaultDate">
      </div>
      <div class="form-group">
        <label for="details">Details</label>
        <textarea class="form-control" id="details" formControlName="details" rows="3"></textarea>
      </div>

      <button class="btn btn-success mt-2" (click)="savePerson()" [disabled]="!isFormValid()">Save</button>
    </div>
    <div class="col picture-card">
      <label id="first-label">Select a picture</label>
      <div class="card">
        <label class="close-btn" [ngClass]="hasFile()? '': 'd-none' " (click)="removePicture()">
          X
        </label>
        <img [src]="imagePath" class="card-img-top" style="object-fit: cover" alt="Profile Picture">
        <label class="bottom-btn">
          <input type="file"
                 id="imgUrl"
                 formControlName="imgUrl"
                 (change)="handleFileChange($event)"/>
          Choose file
        </label>
      </div>
    </div>
  </div>
</form>
