<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt="Media App" id="logo-img"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
              <a
                *ngIf="isAuthenticated"
                routerLink="/dashboard/profile"
                class="nav-link"
                [ngClass]="{'active': isButtonActive('/dashboard/profile') }"
                aria-current="page"
              >Dashboard</a>
        </li>
        <li class="nav-item">
                <a
                  routerLink="/public/home"
                  class="nav-link"
                  [ngClass]="{'active': isButtonActive('/public/home') }"
                  aria-current="page"
                >About Us</a>
        </li>
        <li class="nav-item">
                <a
                  routerLink="/public/mentors"
                  class="nav-link"
                  [ngClass]="{'active': isButtonActive('/public/mentors') }"
                  aria-current="page"
                >Mentoring & Coaching</a>
        </li>
        <li class="nav-item">
                <a
                  routerLink="/public/contact"
                  class="nav-link"
                  [ngClass]="{'active': isButtonActive('/public/contact') }"
                >Contact</a>
        </li>
        <ng-container *ngIf="!isAuthenticated; then showLoginRegister; else showLogout"></ng-container>
        <ng-template #showLoginRegister>
        <li class="nav-item">
          <a
            (click)="goToLoginPage()"
            class="nav-link auth-small"
          >Login</a>
        </li>
        <li class="nav-item">
          <a
            (click)="goToRegisterPage()"
            class="nav-link auth-small"
          >Register</a>
        </li>
        </ng-template>
        <ng-template #showLogout><a class="nav-link auth-small" style="cursor: pointer" (click)="logout()">Logout</a></ng-template>

      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success me-2" type="submit">Search</button>
      </form>

      <ng-container *ngIf="!isAuthenticated; then showLoginRegisterLarge; else showLogoutLarge"></ng-container>
      <ng-template #showLoginRegisterLarge>
        <a routerLink="/auth/login" class="btn btn-outline-success me-2 auth-large">Login</a>
        <a routerLink="/auth/register" class="btn btn-outline-success me-2 auth-large">Register</a>
      </ng-template>
      <ng-template #showLogoutLarge><a class="btn btn-outline-success me-2 auth-large" (click)="logout()">Logout</a></ng-template>

    </div>
  </div>
</nav>
