@media only screen and (max-width: 991px) {
  .auth-large {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .auth-small {
    display: none;
  }
}

// override Bootstrap nav
nav {
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364) !important;
}

#logo-img {
  width: 80px;
}

li>a {
  color: whitesmoke !important;
}

