<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title display-4">Our Team</h1>
      <p class="card-text lead">Meet our dedicated team of professionals.</p>
      <hr>

      <div class="row">
        <!-- col 1 -->
        <div class="col-md-4 mb-4">
          <div class="card mb-4">
            <img src="assets/mentors/mentor_1.jpg" class="card-img-top" alt="Member Name">
            <div class="card-body">
              <h5 class="card-title">Pikachu</h5>
              <p class="card-text">Relaxing Specialty</p>
              <p class="card-text">Our relaxation specialist teaches you to take life as it comes, not to panic, and to be chill all the time. He is very good at therapy through smiling and giggling. He has the power to hypnotize you with his cuteness.</p>
            </div>
          </div>
        </div>
        <!-- col 2 -->
        <div class="col-md-4 mb-4">
          <div class="card mb-4">
            <img src="assets/mentors/mentor_2.jpg" class="card-img-top" alt="Member Name">
            <div class="card-body">
              <h5 class="card-title">Homer Simpson</h5>
              <p class="card-text">OCD Specialty</p>
              <p class="card-text">Our OCD specialist helps you use this syndrome to your advantage.
                Anxiety will no longer be a problem. We will eliminate it in the meantime without losing the positive aspect of perfectionism.</p>
            </div>
          </div>
        </div>
        <!-- col 3 -->
        <div class="col-md-4 mb-4">
          <div class="card mb-4">
            <img src="assets/mentors/mentor_3.jpg" class="card-img-top" alt="Member Name">
            <div class="card-body">
              <h5 class="card-title">Stewie Griffin</h5>
              <p class="card-text">Happiness Specialty</p>
              <p class="card-text">Our happiness specialist knows how to make you smile even when you are tired, upset, or depressed. He is also a great companion for mountain trips.</p>
            </div>
          </div>
        </div>
      </div>


      <div class="row">
        <!-- col 1 -->
        <div class="col-md-4 mb-4">
          <div class="card mb-4">
            <img src="assets/mentors/mentor_4.jpg" class="card-img-top" alt="Member Name">
            <div class="card-body">
              <h5 class="card-title">Dexter</h5>
              <p class="card-text">Risking Specialty</p>
              <p class="card-text">Our specialist in Risk issues will help you not to be afraid to take risks, and to do so by analyzing whether that risk is worth taking or not. You will step out of your comfort zone and live life with more courage</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
