.page-wrapper {
  background: linear-gradient(to bottom, #f8f8f8, #e8e8e8) fixed;
}

.container {
  min-height: 93.7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}


.header-wrapper {
  position: fixed;
  width: 100%;
}

.content-wrapper {
  position: relative;
  margin-top: 100px;
  margin-bottom: 10px;
}

.footer-wrapper {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
}
