<div class="person-card">
  <div class="card mb-4">
    <label class="close-btn">
      X
    </label>
    <!-- TODO: implement loading pictures from BE -->
    <img src="assets/profile/mock.jpg" class="card-img-top" alt="Person">
    <div class="card-body">
      <h5 class="card-title">{{personCard.name}}</h5>
      <p class="card-text">{{personCard.birthday | date}}</p>
      <p class="card-text">
        {{personCard.details}}
      </p>
    </div>
    <label class="bottom-btn">
      <input type="button" id="friendPicture" (click)="editMode()"/>
      Edit
    </label>
  </div>
</div>
