<footer>
  <div class="footer-content">
    <div class="footer-left">
      <h4>Informații de contact</h4>
      <p>Email: contact@mock-company.ro</p>
      <p>Telefon: +40 000 00 000 032</p>
      <p>Adresă: Strada Mockuită, Mock City, România</p>
    </div>

    <div class="footer-right">
      <h4>Social media</h4>
      <ul>
        <li>
          <fa-icon [icon] ='faYoutube'></fa-icon> YouTube
        </li>
      </ul>
      <ul>
        <fa-icon [icon] ='faLinkedin'></fa-icon> LinkedIn
      </ul>
      <ul>
        <fa-icon [icon] ='faFacebook'></fa-icon> Facebook
      </ul>
    </div>


    <div class="footer-right">
      <h4>Companie</h4>
      <ul>
        <li><a href="privacy-policy.html">Privacy Policy</a></li>
      </ul>
      <ul>
        <li><a href="privacy-policy.html">Terms & Conditions</a></li>
      </ul>
    </div>
  </div>


  <div class="email-form">
    <h4>Abonează-te pentru mai multe informații</h4>
    <form action="#" method="post">
      <input type="email" name="email" placeholder="Enter your email address" required>
      <button class="btn btn-success">Subscribe</button>
    </form>
  </div>

  <div class="footer-copyright">
    &copy; 2023 Îndrumare și Coaching pentru România. Toate Drepturile Rezervate.
  </div>
</footer>
