.container {
  width: 30%;
  padding: 20px;
  border: 1px white solid;
  background-color: #fff;

  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  min-width: 350px;
}

a {
  position: relative;
  color: black;
  cursor: pointer;
}
