<div class="container">
  <div class="form-container">
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          field="email"
          id="email"
          placeholder="Enter your email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          id="password"
          field="password"
          formControlName="password"
          placeholder="Enter your password" />
      </div>
      <button
        pButton
        type="submit"
        class="green-button"
        [disabled]="isFormInvalid()"
      >Login</button>
    </form>
    <a routerLink="/auth/register">I don't have an account!
    </a>
  </div>
</div>
