<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title display-5">My Social Hub</h1>
      <p class="card-text lead">Never forget your family and friends</p>

      <div class="social-hub-nav-bar">
        <button class="btn btn-success" (click)="addPerson()">Add person</button>
        <form class="search-group" role="search">
          <input class="form-control me-2" type="search" placeholder="Search person" aria-label="Search">
        </form>
      </div>
      <hr>
      <div class="cards-container">
        <app-person-card *ngFor="let personCard of personCards" [personCard]="personCard"></app-person-card>
      </div>

    </div>
  </div>
</div>
