<div class="container mt-4">
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="card-title display-4">Welcome to <span class="text-dark">Guidance and Coaching for Romania</span></h1>
      <p class="card-text lead">Unlock your potential and achieve your goals with the help of experienced mentors and coaches from various fields. <span class="text-dark">Guidance and Coaching for Romania</span> is your destination for personal and professional growth, where you can connect with mentors passionate about your success.</p>

      <h2 class="mt-4 mb-4">Why Choose <span class="text-dark">Guidance and Coaching for Romania</span>?</h2>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 sm-card">
            <div class="card-body">
              <h5 class="card-title">Expert Guidance</h5>
              <p class="card-text">Our platform gathers a diverse community of mentors and coaches with expertise in areas such as programming, design, or UX.</p>
            </div>
          </div>
          <div class="card mb-4 sm-card">
            <div class="card-body">
              <h5 class="card-title">Personalized Learning</h5>
              <p class="card-text">Customize your mentoring experience by selecting a mentor who aligns with your objectives and aspirations in fields like programming, design, or UX.</p>
            </div>
          </div>
          <div class="card mb-4 sm-card">
            <div class="card-body">
              <h5 class="card-title">Technological Innovation</h5>
              <p class="card-text">Explore new trends in technological innovation and benefit from the guidance of our experts in this dynamic field.</p>
            </div>
          </div>

        </div>
        <div class="col-md-6">
          <div class="card mb-4 sm-card">
            <div class="card-body">
              <h5 class="card-title">Simple Registration</h5>
              <p class="card-text">Joining Guidance and Coaching for Romania is easy and quick, so you can start developing in your desired field as soon as possible.</p>
            </div>
          </div>
          <div class="card mb-4 sm-card">
            <div class="card-body">
              <h5 class="card-title">Growth at Your Own Pace</h5>
              <p class="card-text">Learning and personal development should be a journey tailored to your own needs, not a race. Here, you can progress at your own pace in fields like programming, design, or UX.</p>
            </div>
          </div>
          <div class="card mb-4 sm-card">
            <div class="card-body">
              <h5 class="card-title">Technological Innovation</h5>
              <p class="card-text">Explore new trends in technological innovation and benefit from the guidance of our experts in this dynamic field.</p>
            </div>
          </div>
        </div>
      </div>

      <p class="mt-4">Are you ready to embark on a transformative journey? Join <span class="text-dark">Guidance and Coaching for Romania</span> today and let our dedicated mentors and coaches guide you towards a brighter future.</p>

      <a href="#" class="btn btn-success mt-3 align-self-center">Start Your Journey to Success</a>
    </div>
  </div>
</div>
