<div class="container">
  <div class="mt-4">
    <h1 class="display-4">Bine ați venit la <span class="text-black">Îndrumare și Coaching pentru România</span></h1>
    <p class="lead">Dezvăluiți-vă potențialul și atingeți-vă obiectivele cu ajutorul mentorilor și antrenorilor experimentați din diverse domenii. <span class="text-black">Îndrumare și Coaching pentru România</span> este destinația dvs. pentru creșterea personală și profesională, unde vă puteți conecta cu mentori pasionați de succesul dumneavoastră.</p>
  </div>

  <h2 class="mb-4">De ce să alegeți <span class="text-black">Îndrumare și Coaching pentru România</span>?</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Îndrumare de Experți</h5>
          <p class="card-text">Platforma noastră adună o comunitate diversă de mentori și antrenori cu expertiză în domenii precum programare, design sau UX.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Învățare Personalizată</h5>
          <p class="card-text">Personalizați experiența dumneavoastră de îndrumare prin selectarea unui mentor care se aliniază cu obiectivele și aspirațiile dumneavoastră în domeniile programare, design sau UX.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Inovare Tehnologică</h5>
          <p class="card-text">Explorați noile tendințe în inovare tehnologică și beneficiați de ghidajul experților noștri în acest domeniu dinamic.</p>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Înregistrare Simplă</h5>
          <p class="card-text">Alăturarea Îndrumare și Coaching pentru România este facilă și rapidă, astfel încât să puteți începe să vă dezvoltați în domeniul dorit cât mai curând posibil.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Crescere la Propriul Ritm</h5>
          <p class="card-text">Învățarea și dezvoltarea personală ar trebui să fie o călătorie adaptată propriilor nevoi, nu o cursă. Aici puteți progresa la propriul ritm în domeniile programare, design sau UX.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Inovare Tehnologică</h5>
          <p class="card-text">Explorați noile tendințe în inovare tehnologică și beneficiați de ghidajul experților noștri în acest domeniu dinamic.</p>
        </div>
      </div>
    </div>
  </div>

  <p>Sunteți pregătit să porniți într-o călătorie transformatoare? Alăturați-vă <span class="text-black">Îndrumare și Coaching pentru România</span> astăzi și lăsați mentori și antrenorii noștri dedicați să vă ghideze spre un viitor mai strălucit.</p>

  <a href="#" class="btn btn-warning m-3 align-self-center">Începeți călătoria dumneavoastră spre succes</a>
</div>


